html,body{
	background: #000;
	font-family: Helvetica, Arial, sans-serif;
	
}

img{
	border: 0;
}

h1,h2,h3{
	margin: 0;
}

h1,h2,h3{
	font-family: Helvetica, 'Times New Roman', serif;
	font-weight: 400;
}

h1{
	text-align: center; font-family: Georgia,  'Times New Roman', serif; margin-bottom: 20px;
}
a, a:link, a:visited{
	color: #eee;
	text-decoration: none;
	border: 0;
}



a:hover{
	text-decoration: underline;
}

#wrapper{
	background: #111;
	padding: 15px;
	margin: 0 20px;
	
	color: #999;
	font-size: 1.05em;
}

#gallery-wrapper{
	
}

.brick{
	
}