div#content{
	width: 1280px;
	height: 800px;
}

div.image_frame{
	float:left;
	margin: 10px;
	cursor:pointer;
}	
div.image img{
}



#images-wrapper{
	background: #ddffcc;
	height: 600px;
	width: 900px;
	overflow:hidden;
	position: relative;
}

div.image-wall{
	position: relative;
	left: 0;
	top: 0;
}

div#images-strip, div#images-wall div.image{
	margin: 10px;
	background: #000;
	float: left;
}


div.image.hidden img{
	visibility: hidden;
}