<h1>Images</h1>
<div class='pagination'>
<%= will_paginate @images %>
</div>	

<div id="images-wrapper">

<% @images.each do |image| %>

		<div class='image'>
			<% img_ver = image.thumbnail(rand(3))%>
			<%=link_to(image_tag(img_ver.path, :width=>img_ver.width, :height=>img_ver.height), 
			@context.blank? ? image : send("image_#{@context[0]}_path", @context[1], image.id), :rel=>'cbox')%>	
		</div>
<% end %>


</div>

<div class='pagination'>
<%= will_paginate @images %>
</div>