<script type="text/javascript" charset="utf-8">

	var min_height = 100;

	jQuery(document).ready(function(){
		jQuery("#somebutton").click(function(){
			
			
			$.ajax({
			  url: "<%=url_for({:controller=>'images', :action=>'index', :format=>'json'})%>",
			  dataType: "json",
		   
			  success: function(images) {
			    	
					jQuery("#result").append("Hello " + images.length)
					for(var i = 0; i<images.length; i++){
						var image = images[i];
						$("#images-strip").css("width", $("#images-strip").width()+image.thumbnail.width )
						$("#images-strip").append("<div class=\"image\" style=\"width:"+image.thumbnail.width+"px; height:"+image.thumbnail.height+"px;\"><img src=\""+image.thumbnail.path+ "\" /></div>")
					}
					
			  }
			});
			
			
		})
	})
</script>



<div class="stuff">
	<h1>Test</h1>
	Good <strong id="somebutton">button</strong>
	
	<div id="result"></div>
	
	<div id="images-wrapper">
		<div id="images-strip">
			
			
			
		</div>
		
	</div>
	
</div>	

