<h1>Images#show</h1>
<p>Find me in app/views/images/show.html.erb</p>

<div>

	<%=image_tag @image.large.path, :id=>'for-show'%>
</div>	

<ul class="tag-list">
	<% @image.tags.each do |tag| %>
		<li><%=link_to tag.name, images_tag_path(tag.name)%></li>
	<% end %>	
</ul>