<%= javascript_include_tag "/javascripts/spec/wall_image.js" %>
<%= javascript_include_tag "/javascripts/spec/wallie.js" %>

<%= javascript_include_tag "/javascripts/spec/wallie_go.js" %>


<div class="stuff">
	<h1>Test</h1>
	Good <strong id="somebutton">button</strong>
	
	<div id="result"></div>
	
	<div id="images-wrapper">
		<div id="small-wall" class="image-wall">
			
			<% @images.each do |image| %>
			<div class="image_frame">
				<%= image_tag image.thumbnail.path, :style=>"width:#{image.thumbnail.width}px; height:#{image.thumbnail.height}px;"%>
			</div>	
			
			
			<% end %>
			
			
			
		</div>
		
	</div>
	
</div>	

